//----------------------------------------------
// Posts
//---------------------------------------------- 
.posts {

  &__pagination {
    @extend %text-center;

    @media (min-width: $mq-small) {
      padding-top: 1em;
    }
  }

  &__next {
    @extend %font-header;

    position: relative;
    z-index: 1;

    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      margin: auto;

      border-radius: 100%;
      opacity: 0;
      transition: opacity 400ms ease-in-out;
    }

    &:after {
      height: 1.75em;
      width: 1.75em;

      border: 2px solid transparent;
      border-top-color: $color-grey;
      animation: spin 1s linear infinite both;
    }

    &:before {
      height: 2.5em;
      width: 2.5em;

      border: 1px solid transparent;
      border: {
        top-color: $color-grey;
        right-color: $color-grey;
      }
      animation: spin-reverse 1.2s linear infinite both;
    }

    &.js-posts-loading {
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
}
