//----------------------------------------------
// Imports
//---------------------------------------------- 
@import '../../styles/tools/_config';

//----------------------------------------------
// Posts
//---------------------------------------------- 
.posts {
  padding: 1em 1em 3em;

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  @media (min-width: $mq-med) {
    padding: {
      right: 1em;
      left: 1em;
    }
  }

  @media (min-width: $mq-xlarge) {
    padding: {
      top: 2em;
      bottom: 4em;
    }
  }

  &__container {
    margin: {
      right: -1em;
      left: -1em;
    }
  }
}
