//----------------------------------------------
// Imports
//---------------------------------------------- 
@import '../../styles/tools/_config';
@import '../../styles/tools/_extends-type';

//----------------------------------------------
// Title
//---------------------------------------------- 
.title {
  @extend %text-center;

  border-bottom: $border;

  &__header {
    $fontSize: 2em;

    font-family: $font-post;
    font-size: $fontSize;
    line-height: 1.4;

    @media (min-width: $mq-xlarge) {
      font-size: $fontSize + 0.25em;
    }
  }

  &__date {
    @extend %font-header;

    display: block;
    margin-top: 0.25em;

    font-size: $font-xsmall;
  }
}
